.card {
    margin: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 16rem;
    max-width: 28rem;
}
.title-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btnDetalhes {
    margin-left: 8px;   
    align-items: center;
    justify-content: center;
    
}
.dropdown{
    margin-top: 4px;
}
.dropdown-item{
    padding: 16px;
}
.div-marcacao {
    width: 60%;
    height: 5px;
    border-radius: 16px;
    margin-top: -6px;
    margin-bottom: 12px;
}
.data-hora {
    margin: 16px;
    align-self: "flex-start";
    font-size: 14px;
    font-weight: "normal";
}